.icthi_learning_companions-group-me-up {
    position: absolute;
    right: 0;
    padding: 5px 20px;
    bottom: 12px;
}
.groupadminprofilelink {
    display: block;
}
#askedquestionstable_wrapper {
    margin-bottom: 40px;
}
#mymentorquestionstable_wrapper {
    margin-bottom: 40px;
}
#allmentorquestionstable_wrapper {
    margin-bottom: 40px;
}
.local_thi_learning_companions_mentor_asknewquestion {
    text-align: center;
    margin-bottom: 40px;
}
.thi_learning_companions_group_form .form-inline .custom-select,
.thi_learning_companions_group_form .form-inline select,
.thi_learning_companions_group_form .form-inline input[type="text"],
.thi_learning_companions_group_form .form-inline textarea {
    width: 480px;
}
.icon-check-green {
    color: #AFC95A;
}
#mentor-deletemyquestion-modal-delete {
    margin-right: 10px;
}
.local_thi_learning_companions_group_search_newgroupbutton {
    text-align: center;
    margin-top: 20px;
}
#group-details-modal {
    display: flex;
}
.group-details-modal-info {
    margin-bottom: 10px;
}
.group-details-modal-info-heading {
    display: block;
    font-weight: 700;
}
.group-details-modal-info-content {

    display: block;
}
.group-details-modal-info-admin {
    display: block;
}
#group-details-modal-left {
    min-width: 20%;
    max-width: 10em;
}
.local_thi_learning_companions_mentor_search_askquestion_link {
    color: #E38227;
}
.local_thi_learning_companions_chevron {
    color: #E38227;
}
.icon-issupermentor {
    color: #E38227;
    margin-left: 2px;
    position: relative;
    top: 1px;
}
.icon-status {
    position: relative;
    left: -21px;
    top: 12px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.status-online {
    color: green;
}
.status-offline {
    color: darkgray;
}
.status-pleasedonotdisturb {
    color: orangered;
}
.thi_learning_companions_group_image_small {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: cover;
    flex-shrink: 0;
}
#thi_learning_companions_chat #fitem_id_message .col-form-label {
    display: none !important;
}
#thi_learning_companions_chat #fitem_id_message [data-fieldtype="editor"] {
    width: 100%;
}

#thi_learning_companions_chat #fitem_id_message {
    padding: 20px;
    background-color: var(--light);
}

#thi_learning_companions_chat #fitem_id_message [role="toolbar"] {
    border: none;
    background: transparent;
}

#thi_learning_companions_chat .editor_atto_content_wrap {
    background: transparent;
}

#thi_learning_companions_chat #id_messageeditable {
    min-height: 100px !important;
    height: 100px;
    opacity: 1;
    width: calc(100% - 50px);
    border: none;
}
#local_thi_learning_companions_chat-send {
    float: right;
    width: 20px;
    margin-top: 75px;
    background: url([[pix:local_thi_learning_companions|send]]) no-repeat top left;
    border: none;
    color: transparent;
    top: 30px;
    position: absolute;
    right: 15px;
    border-radius: 0;
}
#local_thi_learning_companions_chat-send.thi_learning_companions_chat_editor_tiny {
    top: 50px;
}
#thi_learning_companions_chat form[action$="chat.php"] {
    position: relative;
}


.thi_learning_companions_edit_comment,
.thi_learning_companions_rate_comment,
.thi_learning_companions_delete_comment,
.thi_learning_companions_report_comment {
    width: 20px;
    height: 20px;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}
.thi_learning_companions_edit_group,
.thi_learning_companions_edit_comment {
    background-image: url([[pix:local_thi_learning_companions|edit-pen]]);
    z-index: 10;
}
.thi_learning_companions_rate_comment {
    background-image: url([[pix:local_thi_learning_companions|thumbs-up]]);
    opacity: 0.5;
}
.thi_learning_companions_rate_comment.thi_learning_companions_israted_by_current_user {
    display: inline-block;
}
.thi_learning_companions_rate_comment:hover,
.thi_learning_companions_rate_comment.thi_learning_companions_israted_by_current_user {
    opacity: 1;
}
.icon-thi_learning_companions-edit {
    width: 20px;
    height: 20px;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url([[pix:local_thi_learning_companions|edit-pen]]);
    display: inline-block;
    background-size: contain;
    top: 4px;
    position: relative;
    margin-right: 5px;
}


.thi_learning_companions_delete_comment {
    background-image: url([[pix:local_thi_learning_companions|delete-bin]]);
}
.thi_learning_companions_report_comment {
    background-image: url([[pix:local_thi_learning_companions|flag]]);
}

.thi_learning_companions_chat-post {
    position: relative;
}
@media (min-width: 992px) {
    #thi_learning_companions_chat-postlist {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.thi_learning_companions_chat-post:hover .thi_learning_companions_report_comment,
.thi_learning_companions_chat-post:hover .thi_learning_companions_delete_comment,
.thi_learning_companions_chat-post:hover .thi_learning_companions_rate_comment,
.thi_learning_companions_chat-post:hover .thi_learning_companions_edit_comment  {
    display: inline-block;
    color: transparent;
}

.thi_learning_companions_currentgroup {
    background: #eee;
}

.thi_learning_companions_group_icon {
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: contain;
}

.thi_learning_companions_group_icon--open {
    background-image: url([[pix:local_thi_learning_companions|door-open]]);
}
.thi_learning_companions_group_icon--closed {
    background-image: url([[pix:local_thi_learning_companions|door-closed]]);
}

.thi_learning_companions_groupheader {
    background: var(--light);
    width: 100%;
    height: 90px;
    padding: 20px;
}

.thi_learning_companions_groupheader h1 {
    font-size: 32px;
    display: inline-block;
    font-weight: normal;
    font-style: italic;
}

.thi_learning_companions_groupheader .thi_learning_companions_groupimage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
}
.thi_learning_companions_chat-group {
    padding: 5px 10px 7px;
    font-size: 16px;
    line-height: 24px;
    min-height:65px;
    cursor: pointer;
    gap: 0.5em;
}
.thi_learning_companions_group_infos {
    flex-grow: 1;
}

.thi_learning_companions_chat-group em {
    font-weight: bold;
}
.thi_learning_companions_chat-post {
    padding: 10px;
    position: relative;
    border-top:1px solid #ccc;
}
.thi_learning_companions_chat-my-post {
    background: #e6ffe3;
}
.thi_learning_companions_chat-reported-post {
    background: #ffffcc;
}
.thi_learning_companions_loading {
    border: 16px solid var(--light);
    border-top: 16px solid var(--dark);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: thi_learning_companions_loader_spin 2s linear infinite;
    margin: 40px auto;
}

@keyframes thi_learning_companions_loader_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.thi_learning_companions_editgroup {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    background: url([[pix:local_thi_learning_companions|gear]]) no-repeat;
    float: right;
    margin-top: 10px;
}
.thi_learning_companions_chat_time {
}

/* Invite */
.invite-member-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.invite-radio {
    display: none;
}

.invite-radio + label {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.post-wrapper {
    max-height: calc(100vh - 430px);
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}
.action-button-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 0.5em;
}
.invite-radio:checked + label {
    background: #0ff;
}

.preview-wrapper.preview-wrapper {
    background-color: var(--light);
    margin-left: -15px;
    margin-right: -15px;
}
.thi_learning_companions_bbb_button {
    background: url([[pix:local_thi_learning_companions|bbbutton]]) no-repeat center center !important;
    width: 30px;
    background-size: cover;
    color: transparent;
}
.thi_learning_companions_upload_button {
    width: 30px;
    background-size: cover;
    color: black;
}

#page-local-thi_learning_companions-chat #fitem_id_attachments {
    display: none;
}
#page-local-thi_learning_companions-chat #fitem_id_attachments.upload-visible {
    display: flex;
}
body[id^="page-local-thi_learning_companions"].pagelayout-standard.hasDatatable #page.drawers .main-inner {
    max-width: none;
}
.lc_comma-separated::after {
    content: ', ';
    display: inline-block;
}
.lc_comma-separated:last-child::after {
    content: none;
}

#page-local-thi_learning_companions-mentor-question #thi_learning_companions_chat {
    margin-left: 16px;
}

.ask-new-question-wrapper {
    column-gap: 1em;
}

#page-local-thi_learning_companions-mentor-question .chat-post-form {
    position: relative;
}
.lc_comment strong {
    font-style: italic;
    color: var(--warning);
}
.lc_comment_author-info {
    text-align: right;
}
#page-local-thi_learning_companions-mentor-mentor_questions_overview .dataTables_wrapper {
    overflow: hidden;
}
.local_thi_learning_companions_mentor_keywordsearch {
    vertical-align: bottom;
}
.local_thi_learning_companions_mentor_keywordsearch input {
    border-radius: 4px !important;
}
.local_thi_learning_companions_mentor_search_filter label {
    vertical-align: bottom;
}

#page-local-thi_learning_companions-group-confirm_requested_join .col-form-label {
    padding-top: 0;
}

.thi_learning_companions_group_infos em {
    font-style: italic;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 120px;
    display: inline-block;
}

.thi_learning_companions_mygroups_group_newposts_count_circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding-top: 1px;
    background: #00A070;
    border: 0;
    color: #ffffff;
    text-align: center;
    display: block;
    font-size: 12px;
    line-height: 1.5em;
}

#page-local-thi_learning_companions-group-search label[for="topic-search"],
#page-local-thi_learning_companions-group-search label[for="group-status"] {
    min-width: 150px;
    width: 15% !important;
}

#page-local-thi_learning_companions-group-search label[for="topic-search"] .select2-container,
#page-local-thi_learning_companions-group-search label[for="group-status"] .select2-container {
    width: 100% !important;
}


/* ------------------------------------------- */
/* --------RESPONSIVENESS--------------------- */
/* ------------------------------------------- */
@media screen and (min-width: 768px) {
    #page-local-thi_learning_companions-chat .thi_learning_companions_groupheader h1 {
        max-width: calc(100vw - 330px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
@media screen and (max-width:992px) {

    /* -------------- CHAT -------------- */
    #page-local-thi_learning_companions-chat .thi_learning_companions_group_infos em {
        max-width:calc(100vw - 210px);
    }
}
@media screen and (max-width:767.98px) {
    /* ------------------- GROUP SEARCH --------------- */
    #page-local-thi_learning_companions-group-search #allgroupstable th:nth-child(2),
    #page-local-thi_learning_companions-group-search #allgroupstable th:nth-child(6),
    #page-local-thi_learning_companions-group-search #allgroupstable td:nth-child(2),
    #page-local-thi_learning_companions-group-search #allgroupstable td:nth-child(6) {
        display: none;
    }


    /* -------------- CHAT -------------- */
    #page-local-thi_learning_companions-chat .thi_learning_companions_editgroup {
        display: inline-block;
    }

    #thi_learning_companions_chat #fitem_id_message {
        padding:5px;
    }

    #page-local-thi_learning_companions-chat .thi_learning_companions_groupheader .thi_learning_companions_groupimage {
        width: 30px;
        height: 30px;
        vertical-align: top;
        margin-right: 10px;
        margin-top: 4px;
    }

    #page-local-thi_learning_companions-chat .thi_learning_companions_groupheader h1 {
        max-width: calc(100vw - 180px);
        overflow: hidden;
        height: 1.25em;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
    }

    #page-local-thi_learning_companions-chat .thi_learning_companions_groupheader {
        height: 70px;
        padding: 10px;
    }
}
@media screen and (max-width:480px) {
    /* ------------------- GROUP SEARCH --------------- */
    #page-local-thi_learning_companions-group-search #allgroupstable th {
        display: none;
    }
    #page-local-thi_learning_companions-group-search #allgroupstable td {
        display: block;
        width: 100%;
    }
    #page-local-thi_learning_companions-group-search #allgroupstable td::before {
        content: attr(title);
        display: inline-block;
        width: 100px;
        font-weight: bold;
    }
    #page-local-thi_learning_companions-group-search #allgroupstable .thi_learning_companions_group_icon {
        display: inline-block;
    }
    #page-local-thi_learning_companions-group-search #local_thi_learning_companions_group_search label {
        display: block;
        width: 100%;
    }
    #page-local-thi_learning_companions-group-search #local_thi_learning_companions_group_search form > .d-flex {
        display: block !important;
    }
    #page-local-thi_learning_companions-group-search label[for="topic-search"],
    #page-local-thi_learning_companions-group-search label[for="group-status"] {
        width: 100% !important;
    }
}

img.local_thi_learning_companions_usersearch_picture {
    margin-right: .25rem;
}
.local_thi_learning_companions_usersearch_picture {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}