{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see
    <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_thi_learning_companions/mentor/mentor_manage

    Form for asking a question to mentors

    Example context (json):
    {
        "qualifications": [{
            "name": "Chemistry Expert",
            "name_urlencoded": "Chemistry+Expert"
        }],
        "hasmentorships": "true",
        "mentorships": [{
            "name": "Physics"
        }]
    }
}}
<div class="mentorship-qualifications">
    <div class="mb-5">
        <h2>{{#str}}my_mentorships, local_thi_learning_companions{{/str}}</h2>
        <h3>{{#str}}your_mentorship_qualifications, local_thi_learning_companions{{/str}}</h3>
        <div class="container mt-5">
            {{^qualifications}}
            <span>{{#str}}no_mentorship_qualifications, local_thi_learning_companions{{/str}}</span>
            {{/qualifications}}
            {{#qualifications}}

            <div class="row border-bottom py-4">
                <div class="col col-xl-4"><strong>{{name}}</strong></div>
                <div class="col col-xl-8"><a class="btn btn-primary"
                                             href="{{globals.config.wwwroot}}/local/thi_learning_companions/mentor/manage.php?action=acceptmentorship&topic={{name_urlencoded}}">{{#str}}become_mentor,
                    local_thi_learning_companions{{/str}}</a></div>
            </div>
            {{/qualifications}}
        </div>
        {{#hasmentorships}}
        <div>
            <hr>
            <h3 class="mt-3">{{#str}}your_mentorships, local_thi_learning_companions{{/str}}</h3>
            <div class="container mt-5">
                {{#mentorships}}
                <div class="row border-bottom py-4">
                    <div class="col"><strong>{{name}}</strong></div>
                </div>
                {{/mentorships}}
            </div>
        </div>
        {{/hasmentorships}}
    </div>
</div>