<h1>Mentoring</h1>
<div id="learningcompanions_chat">
    <div class="row">
        <div id="learningcompanions_chat" class="col-s-12">
            <div id="learningcompanions_chat-content"></div>
            {{{form}}}
        </div>
    </div>
</div>
<script type="text/javascript">
    var learningcompanions_questionid = {{questionid}};
    var learningcompanions_chat_userid = {{userid}};
    var learningcompanions_groupid = null;
</script>
{{#js}}
    {{{languageStrings}}}
    setTimeout(function() {
        window.Chat.startQuestionChat();
    }, 0);
{{/js}}
