<h2>{{#str}}allmentorquestions, local_thi_learning_companions{{/str}}</h2>
{{#hasallmentorquestions}}
    <table class="stripe hover compact" id="allmentorquestionstable" data-paging="true" data-page-length="50">
        <thead>
        <tr>
            <th>{{#str}}title, local_thi_learning_companions{{/str}}</th>
            <th>{{#str}}topic, local_thi_learning_companions{{/str}}</th>
            <th>{{#str}}answers, local_thi_learning_companions{{/str}}</th>
            <th>{{#str}}status, local_thi_learning_companions{{/str}}</th>
            <th>{{#str}}lastactivity, local_thi_learning_companions{{/str}}</th>
            <th>{{#str}}questiondate, local_thi_learning_companions{{/str}}</th>
        </tr>
        </thead>
        <tbody>
        {{#allmentorquestions}}
            <tr>
                <td>
                    <a data-balloon="{{question}}" data-balloon-pos="right" href="{{globals.config.wwwroot}}/local/thi_learning_companions/mentor/question.php?id={{id}}">
                        {{title}}
                    </a>
                </td>
                <td>
                    {{get_topic}}
                </td>
                <td>
                    {{#get_answer_count}}
                        <a href="{{globals.config.wwwroot}}/local/thi_learning_companions/mentor/question.php?id={{get_id}}">{{get_answer_count}}</a>
                    {{/get_answer_count}}
                    {{^get_answer_count}}
                        0
                    {{/get_answer_count}}
                </td>
                <td>
                    {{#is_closed}}
                        <span data-balloon="{{#str}}questionclosedon, local_thi_learning_companions, {{get_closed_time}}{{/str}}" data-balloon-pos="up">
                            <i class="fa fa-check icon-check-green"></i>
                        </span>
                    {{/is_closed}}
                    {{^is_closed}}
                        <i class="fa fa-rotate-right"></i>
                    {{/is_closed}}
                </td>
                <td data-order="{{get_last_activity}}">
                    {{get_last_activity_dmy}}
                </td>
                <td data-order="{{timecreated}}">
                    {{get_timecreated_dmy}}
                </td>
            </tr>
        {{/allmentorquestions}}
        </tbody>
    </table>
{{/hasallmentorquestions}}
{{^allmentorquestions}}
    <p>{{#str}}noquestionsfound, local_thi_learning_companions{{/str}}</p>
{{/allmentorquestions}}
