{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_thi_learning_companions/mentor/mentor_search_filter

    Filter for searching mentors

    Example context (json):
    {
        "badges": [
            "badge"
        ],
        "topics": [
            "topic"
        ]
    }
}}
<form class="local_thi_learning_companions_mentor_search_filter">
    <div class="d-flex align-items-center mb-3" style="gap: 1em;">
        <label for="topic-search">
            <select data-placeholder="{{#str}}filter_all_topics, local_thi_learning_companions{{/str}}"
                    data-target="topics" multiple class="js-mentor-filter js-mentor-filter--includes select2"
                    name="topics" id="topic-search" style="min-width: 100px;">
                {{#topics}}
                    <option value="{{.}}">{{.}}</option>
                {{/topics}}
            </select>
        </label>

        <label class="flex-grow-1 local_thi_learning_companions_mentor_keywordsearch">
            <input data-target="name" class="form-control js-mentor-filter js-mentor-filter--search w-100" name="keyword" type="text"
                   placeholder="{{#str}}filter_mentor_keywords_placeholder, local_thi_learning_companions{{/str}}">
        </label>

        <label for="badge-search">
            <select data-placeholder="{{#str}}filter_badges, local_thi_learning_companions{{/str}}"
                    data-target="badges" multiple class="js-mentor-filter js-mentor-filter--includes select2"
                    name="badges" id="badge-search" style="min-width: 100px;">
                {{#badges}}
                    <option value="{{.}}">{{.}}</option>
                {{/badges}}
            </select>
        </label>

        <label for="super-mentor">
            <input data-target="super-mentor" type="checkbox" name="super-mentor" id="super-mentor"
                   class="js-mentor-filter js-mentor-filter--search">
            <i class="fa fa-graduation-cap icon-issupermentor"></i>
            {{#str}}filter_super_mentor, local_thi_learning_companions{{/str}}
        </label>
    </div>
</form>
