{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_thi_learning_companions/mentor/mentor_myquestions

    questions to me as a mentor

    Example context (json):
    {
        "hasaskedquestions": "true",
        "askedquestions": [{
            "title": "I have a question",
            "mayuserdelete": "false",
            "get_answer_count": "5",
            "is_closed": "false",
            "get_last_activity_dmy": "05.12.2024",
            "get_timecreated_dmy": "25.10.2024",
        }]
    }
}}
{{#hasaskedquestions}}
    <table class="stripe hover compact" id="askedquestionstable" data-paging="true" data-page-length="50">
        <thead>
        <tr>
            <th>{{#str}}title, local_thi_learning_companions{{/str}}</th>
            <th>{{#str}}answers, local_thi_learning_companions{{/str}}</th>
            <th>{{#str}}status, local_thi_learning_companions{{/str}}</th>
            <th>{{#str}}lastactivity, local_thi_learning_companions{{/str}}</th>
            <th>{{#str}}questiondate, local_thi_learning_companions{{/str}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#askedquestions}}
            <tr>
                <td>
                    <span data-balloon="{{question}}" data-balloon-pos="right">
                       <a href="{{globals.config.wwwroot}}/local/thi_learning_companions/mentor/question.php?id={{get_id}}">{{title}}</a>
                    </span>
                </td>
                <td>
                    {{#get_answer_count}}
                        <a href="{{globals.config.wwwroot}}/local/thi_learning_companions/mentor/question.php?id={{get_id}}">{{get_answer_count}}</a>
                    {{/get_answer_count}}
                    {{^get_answer_count}}
                        0
                    {{/get_answer_count}}
                </td>
                <td>
                    {{#is_closed}}
                        <span data-balloon="{{#str}}questionclosedon, local_thi_learning_companions, {{get_closed_time}}{{/str}}" data-balloon-pos="up">
                            <i class="fa fa-check icon-check-green"></i>
                        </span>
                    {{/is_closed}}
                    {{^is_closed}}
                        <i class="fa fa-rotate-right"></i>
                    {{/is_closed}}
                </td>
                <td data-order="{{get_last_activity}}">
                    {{get_last_activity_dmy}}
                </td>
                <td data-order="{{timecreated}}">
                    {{get_timecreated_dmy}}
                </td>
                <td>
                    {{#mayuserdelete}}
                    <span data-balloon="{{#str}}deletemyquestion, local_thi_learning_companions{{/str}}" data-balloon-pos="left">
                        <i class="fa fa-trash icon-trash askedquestions-delete" data-qid="{{id}}" data-question="{{title}}"></i>
                    </span>
                    {{/mayuserdelete}}
                </td>
            </tr>
        {{/askedquestions}}
        </tbody>
    </table>
{{/hasaskedquestions}}
{{^askedquestions}}
    <p>{{#str}}noquestionsfound, local_thi_learning_companions{{/str}}</p>
{{/askedquestions}}
<div class="d-flex justify-content-center ask-new-question-wrapper">
    <div class="local_thi_learning_companions_mentor_asknewquestion">
        <a href="{{globals.config.wwwroot}}/local/thi_learning_companions/mentor/ask_open_question.php" class="btn btn-primary">{{#str}}ask_new_open_question, local_thi_learning_companions{{/str}}</a>
    </div>
    <div class="local_thi_learning_companions_mentor_asknewquestion">
        <a href="{{globals.config.wwwroot}}/local/thi_learning_companions/mentor/search.php" class="btn btn-primary">{{#str}}ask_mentor, local_thi_learning_companions{{/str}}</a>
    </div>
</div>

