<h2>{{#str}}private_questions_to_me, local_learningcompanions{{/str}}</h2>
{{#hasquestionstome}}
    <table class="stripe hover compact lc_datatable" id="lc_private_mentor_questions" data-paging="true" data-page-length="50">
        <thead>
        <tr>
            <th>{{#str}}title, local_learningcompanions{{/str}}</th>
            <th>{{#str}}answers, local_learningcompanions{{/str}}</th>
            <th>{{#str}}status, local_learningcompanions{{/str}}</th>
            <th>{{#str}}lastactivity, local_learningcompanions{{/str}}</th>
            <th>{{#str}}questiondate, local_learningcompanions{{/str}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#questionstome}}
            <tr>
                <td>
                    <span data-balloon="{{question}}" data-balloon-pos="right">
                       <a href="{{cfg.wwwroot}}/local/learningcompanions/mentor/question.php?id={{id}}">{{title}}</a>
                    </span>
                </td>
                <td>
                    {{#get_answer_count}}
                        <a href="{{cfg.wwwroot}}/local/learningcompanions/mentor/question.php?id={{id}}">{{get_answer_count}}</a>
                    {{/get_answer_count}}
                    {{^get_answer_count}}
                        0
                    {{/get_answer_count}}
                </td>
                <td>
                    {{#is_closed}}
                        <span data-balloon="{{#str}}questionclosedon, local_learningcompanions, {{get_closed_time}}{{/str}}" data-balloon-pos="up">
                            <i class="fa fa-check icon-check-green"></i>
                        </span>
                    {{/is_closed}}
                    {{^is_closed}}
                        <i class="fa fa-rotate-right"></i>
                    {{/is_closed}}
                </td>
                <td data-order="{{get_last_activity}}">
                    {{get_last_activity_dmy}}
                </td>
                <td data-order="{{timecreated}}">
                    {{get_timecreated_dmy}}
                </td>
                <td>
                    <span data-balloon="{{#str}}deletemyquestion, local_learningcompanions{{/str}}" data-balloon-pos="left">
                        <i class="fa fa-trash icon-trash askedquestions-delete" data-qid="{{id}}" data-question="{{title}}"></i>
                    </span>
                </td>
            </tr>
        {{/questionstome}}
        </tbody>
    </table>
{{/hasquestionstome}}
{{^hasquestionstome}}
    <p>{{#str}}noquestionsfound, local_learningcompanions{{/str}}</p>
{{/hasquestionstome}}

<h2 class="mt-5">{{#str}}open_questions_to_my_topics, local_learningcompanions{{/str}}</h2>
{{#hasquestionstoallmentors}}
<table class="stripe hover compact lc_datatable" id="mentorquestionstable" data-paging="true" data-page-length="50">
    <thead>
    <tr>
        <th>{{#str}}title, local_learningcompanions{{/str}}</th>
        <th>{{#str}}answers, local_learningcompanions{{/str}}</th>
        <th>{{#str}}status, local_learningcompanions{{/str}}</th>
        <th>{{#str}}lastactivity, local_learningcompanions{{/str}}</th>
        <th>{{#str}}questiondate, local_learningcompanions{{/str}}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#questionstoallmentors}}
    <tr>
        <td>
            <span data-balloon="{{question}}" data-balloon-pos="right">
               <a href="{{cfg.wwwroot}}/local/learningcompanions/mentor/question.php?id={{id}}">{{title}}</a>
            </span>
        </td>
        <td>
            {{#get_answer_count}}
            <a href="{{cfg.wwwroot}}/local/learningcompanions/mentor/question.php?id={{id}}">{{get_answer_count}}</a>
            {{/get_answer_count}}
            {{^get_answer_count}}
            0
            {{/get_answer_count}}
        </td>
        <td>
            {{#is_closed}}
                <span data-balloon="{{#str}}questionclosedon, local_learningcompanions, {{get_closed_time}}{{/str}}" data-balloon-pos="up">
                            <i class="fa fa-check icon-check-green"></i>
                        </span>
            {{/is_closed}}
            {{^is_closed}}
                <i class="fa fa-rotate-right"></i>
            {{/is_closed}}
        </td>
        <td data-order="{{get_last_activity}}">
            {{get_last_activity_dmy}}
        </td>
        <td data-order="{{timecreated}}">
            {{get_timecreated_dmy}}
        </td>
        <td>
            <span data-balloon="{{#str}}deletemyquestion, local_learningcompanions{{/str}}" data-balloon-pos="left">
                <i class="fa fa-trash icon-trash askedquestions-delete" data-qid="{{id}}" data-question="{{title}}"></i>
            </span>
        </td>
    </tr>
    {{/questionstoallmentors}}
    </tbody>
</table>
{{/hasquestionstoallmentors}}
{{^hasquestionstoallmentors}}
<p>{{#str}}noquestionsfound, local_learningcompanions{{/str}}</p>
{{/hasquestionstoallmentors}}

{{#hascomments}}
<h2 class="mt-5">{{#str}}latest_comments, local_learningcompanions{{/str}}</h2>
    {{#latestcomments}}
        <div class="lc_comment">
            <p class="lc_comment_content"><strong>{{content}}</a></strong></p>
            <p class="lc_comment_path">{{#str}}learning_nugget, local_learningcompanions{{/str}}: <a href="{{cfg.wwwroot}}/course/view.php?id={{courseid}}">{{coursefullname}}</a> &gt; <a href="{{cfg.wwwroot}}/mod/{{modulename}}/view.php?id={{cmid}}">{{nuggettitle}}</a></p>
            <p class="lc_comment_author-info">{{#str}}comment_from, local_learningcompanions{{/str}} <a href="{{cfg.wwwroot}}/user/profile.php?id={{userid}}">{{firstname}} {{lastname}}</a> {{#str}}date_from, local_learningcompanions{{/str}} {{#userdate}}{{timecreated}}{{/userdate}}</p>
            <hr>
        </div>
    {{/latestcomments}}
{{/hascomments}}
