<div id="local_thi_learning_companions_mentor_index">
    <h1>{{#str}}myquestions, local_thi_learning_companions{{/str}}</h1>
    {{> local_thi_learning_companions/mentor/mentor_myquestions }}
    {{#ismentor}}
        <h1>{{#str}}mentorquestions, local_thi_learning_companions{{/str}}</h1>
        {{> local_thi_learning_companions/mentor/mentor_mymentorquestions }}
        {{> local_thi_learning_companions/mentor/mentor_allmentorquestions }}
        {{#istutor}}
            <h1>{{#str}}learningnuggetcomments, local_thi_learning_companions{{/str}}</h1>
            {{> local_thi_learning_companions/mentor/mentor_learningnuggetcomments }}
        {{/istutor}}
    {{/ismentor}}
</div>