<form class="local_learningcompanions_mentor_search_filter">
    <div class="align-items-center mb-3" style="gap: 1em;">
        <label for="topic-search">
            <select data-placeholder="{{#str}}filter_all_topics, local_learningcompanions{{/str}}"
                    data-target="topics" multiple class="js-mentor-filter js-mentor-filter--includes select2"
                    name="topics" id="topic-search">
                {{#topics}}
                    <option value="{{.}}">{{.}}</option>
                {{/topics}}
            </select>
        </label>

        <label class="flex-grow-1 local_learningcompanions_mentor_keywordsearch">
            <input data-target="name" class="form-control js-mentor-filter js-mentor-filter--search w-100" name="keyword" type="text"
                   placeholder="{{#str}}filter_mentor_keywords_placeholder, local_learningcompanions{{/str}}">
        </label>

        <label for="badge-search">
            <select data-placeholder="{{#str}}filter_badges, local_learningcompanions{{/str}}"
                    data-target="badges" multiple class="js-mentor-filter js-mentor-filter--includes select2"
                    name="badges" id="badge-search">
                {{#badges}}
                    <option value="{{.}}">{{.}}</option>
                {{/badges}}
            </select>
        </label>

        <label for="super-mentor">
            <input data-target="super-mentor" type="checkbox" name="super-mentor" id="super-mentor"
                   class="js-mentor-filter js-mentor-filter--search">
            <i class="fa fa-graduation-cap icon-issupermentor"></i>
            {{#str}}filter_super_mentor, local_learningcompanions{{/str}}
        </label>
    </div>
</form>
