<div id="local_learningcompanions_group_search">
    <h1>{{#str}}findgroup, local_learningcompanions{{/str}}</h1>
    {{#hasgroups}}
        {{> local_learningcompanions/group/group_search_filter}}
        <table class="stripe hover compact" id="allgroupstable" data-paging="true" data-page-length="50">
            <thead>
                <tr>
                    <th class="topic">{{#str}}topic, local_learningcompanions{{/str}}</th>
                    <th class="name">{{#str}}name, local_learningcompanions{{/str}}</th>
                    <th class="join">{{#str}}join, local_learningcompanions{{/str}}</th>
                    <th class="member-count">{{#str}}membercount, local_learningcompanions{{/str}}</th>
                    <th class="created">{{#str}}createdon, local_learningcompanions{{/str}}</th>
                    <th class="last-active">{{#str}}lastactivity, local_learningcompanions{{/str}}</th>
                </tr>
            </thead>
            <tbody>
            {{#groups}}
                <tr class="grouprow" data-gid="{{id}}" data-title="{{name}}">
                    <td>
                        {{keywords_list}}
                    </td>
                    <td>
                        {{name}}
                    </td>
                    <td data-search="{{closedgroup}}">
                        {{#closedgroup}}
                            <span data-balloon="{{#str}}closedgroup, local_learningcompanions{{/str}}" data-balloon-pos="up">
                                <i class="fa fa-arrow-right icon-joingroup"></i>
                            </span>
                        {{/closedgroup}}
                        {{^closedgroup}}
                            <span data-balloon="{{#str}}opengroup, local_learningcompanions{{/str}}" data-balloon-pos="up">
                                <i class="fa fa-arrow-left icon-joingroup"></i>
                            </span>
                        {{/closedgroup}}
                    </td>
                    <td>
                        {{membercount}}
                    </td>
                    <td data-order="{{timecreated}}" data-search="{{timecreated}}">
                        {{timecreated_dmY}}
                    </td>
                    <td>
                        lastactivity
                    </td>
                </tr>
            {{/groups}}
            </tbody>
        </table>
    {{/hasgroups}}
    {{^groups}}
        <p>{{#str}}nogroupsfound, local_learningcompanions{{/str}}</p>
    {{/groups}}
    <a href="{{cfg.wwwroot}}/local/learningcompanions/group/create.php" class="btn btn-primary">{{#str}}create_new_group, local_learningcompanions{{/str}}</a>
</div>
