{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_thi_learning_companions/group/group_invite

    Invitation form for inviting users to a group

    Example context (json):
    {
        "groupId": "5"
    }
}}
<div>
    <div class="input-group mb-3">
        <input type="text" class="js-invite-member-input form-control" placeholder="{{#str}}invite_member, local_thi_learning_companions{{/str}}" aria-label="{{#str}}invite_member, local_thi_learning_companions{{/str}}" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <span class="input-group-text js-invite-member-search-btn" role="button" data-groupid="{{groupId}}" id="basic-addon2"><i class="fa fa-search fa-fw " aria-hidden="true"></i></span>
        </div>
    </div>

    <div class="js-invite-member-list"></div>

    <button class="btn btn-primary js-invite-member-btn" disabled data-groupid="{{groupId}}">Invite</button>
</div>
