<form>
    <div class="d-flex align-items-center mb-3" style="gap: 1em;">
        <label class="flex-grow-1">
            <input data-target="course" class="js-group-filter js-group-filter--search w-100 form-control" value="{{coursenamefilter}}" name="course" type="text" placeholder="{{#str}}course, local_thi_learning_companions{{/str}}">
        </label>
        <label for="topic-search">
            <select data-placeholder="{{#str}}filter_all_keywords, local_thi_learning_companions{{/str}}" data-target="1"
                    multiple class="js-group-filter js-group-filter--includes select2 form-control" name="topics"
                    id="topic-search">
                {{#keywords}}
                    <option value="{{.}}">{{.}}</option>
                {{/keywords}}
            </select>
        </label>
        <label class="flex-grow-1">
            <input data-target="name,topic" class="js-group-filter js-group-filter--or-search w-100 form-control" name="keyword" type="text" placeholder="{{#str}}filter_designation_placeholder, local_thi_learning_companions{{/str}}">
        </label>
        <label for="group-status"><select data-target="join" class="js-group-filter js-group-filter--search form-control select2" name="status" id="group-status" data-minimum-results-for-search="Infinity">
            <option value="">{{#str}}filter_all_status, local_thi_learning_companions{{/str}}</option>
            <option value="0">{{#str}}filter_open_status, local_thi_learning_companions{{/str}}</option>
            <option value="1">{{#str}}filter_closed_status, local_thi_learning_companions{{/str}}</option>
        </select></label>
        <label>
            <input data-target="4" class="js-group-filter js-group-filter--min form-control" name="members" type="text" placeholder="{{#str}}filter_members_count, local_thi_learning_companions{{/str}}">
        </label>
        <label title="{{#str}}filter_creation_date, local_thi_learning_companions{{/str}}">
            <input data-target="5" class="js-group-filter js-group-filter--min form-control" name="created" type="date">
        </label>
    </div>
</form>
