{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_thi_learning_companions/group/group_search

    Search for groups

    Example context (json):
    {
        "groups": [{
            "course": {
                "fullname": "Advanced topics"
            },
            "keywordslist": "advanced, management, learning",
            "name": "homework group - each one teach one",
            "closedgroup": "false",
            "membercount": "2",
            "timecreated": "1718288731",
            "timecreateddmy": "13.06.2024",
            "lastactivetimedmy": "13.06.2024"
        }],
        "creategroupurl": "https://herebethelink.to/create/new/groups"
    }
}}
<div id="local_thi_learning_companions_group_search">
    <h1>{{#str}}findgroup, local_thi_learning_companions{{/str}}</h1>
    {{#hasgroups}}
        {{> local_thi_learning_companions/group/group_search_filter}}
        <table class="stripe hover compact" id="allgroupstable" data-paging="true" data-page-length="50">
            <thead>
                <tr>
                    <th class="course">{{#str}}course, local_thi_learning_companions{{/str}}</th>
                    <th class="topic">{{#str}}group_topic, local_thi_learning_companions{{/str}}</th>
                    <th class="name">{{#str}}name, local_thi_learning_companions{{/str}}</th>
                    <th class="join">{{#str}}join, local_thi_learning_companions{{/str}}</th>
                    <th class="member-count">{{#str}}membercount, local_thi_learning_companions{{/str}}</th>
                    <th class="created">{{#str}}createdon, local_thi_learning_companions{{/str}}</th>
                    <th class="last-active">{{#str}}lastactivity, local_thi_learning_companions{{/str}}</th>
                </tr>
            </thead>
            <tbody>
            {{#groups}}
                <tr class="grouprow" data-gid="{{id}}" data-title="{{name}}">
                    <td title="{{#str}}course, local_thi_learning_companions{{/str}}">
                        {{course.fullname}}
                    </td>
                    <td title="{{#str}}topic, local_thi_learning_companions{{/str}}">
                        {{keywordslist}}
                    </td>
                    <td title="{{#str}}name, local_thi_learning_companions{{/str}}">
                        {{name}}
                    </td>
                    <td data-search="{{closedgroup}}" data-order="{{closedgroup}}" title="{{#str}}join, local_thi_learning_companions{{/str}}">
                        {{#closedgroup}}
                            <span data-balloon="{{#str}}closedgroup, local_thi_learning_companions{{/str}}" data-balloon-pos="up">
                                <div class="thi_learning_companions_group_icon thi_learning_companions_group_icon--closed"></div>
                            </span>
                        {{/closedgroup}}
                        {{^closedgroup}}
                            <span data-balloon="{{#str}}opengroup, local_thi_learning_companions{{/str}}" data-balloon-pos="up">
                                <div class="thi_learning_companions_group_icon thi_learning_companions_group_icon--open"></div>
                            </span>
                        {{/closedgroup}}
                    </td>
                    <td title="{{#str}}membercount, local_thi_learning_companions{{/str}}">
                        {{membercount}}
                    </td>
                    <td data-order="{{timecreated}}" data-search="{{timecreated}}" title="{{#str}}createdon, local_thi_learning_companions{{/str}}">
                        {{timecreateddmy}}
                    </td>
                    <td data-order="{{last_active_time}}" data-value="{{last_active_time}}" title="{{#str}}lastactivity, local_thi_learning_companions{{/str}}">
                        {{lastactivetimedmy}}
                    </td>
                </tr>
            {{/groups}}
            </tbody>
        </table>
    {{/hasgroups}}
    {{^groups}}
        <p>{{#str}}nogroupsfound, local_thi_learning_companions{{/str}}</p>
    {{/groups}}
    <a href="{{creategroupurl}}" class="btn btn-primary">{{#str}}create_new_group, local_thi_learning_companions{{/str}}</a>
</div>
