{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_thi_learning_companions/group/group_modal_groupdetails

    Modal for showing the details for a group

    Example context (json):
    {
        "group": {
            "keywordslist": "support, questions, getting started",
            "membercount": "5",
            "lastactivetimedmy": "23.04.2024",
            "timecreateddmy": "10.03.2024",
            "closedgroup": "false",
            "description": "Group to discuss the things that weren't quite clear to some",
            "course": {
                "fullname": "Introduction"
            },
            "courseid": "2"
        },
        "cm": {
            "id": "42",
            "modname": "scorm",
            "name": "Onboarding"
        },
        "groupadmins": [{
            "userpic": "<img src=\"http://www.mymoodlesite.net/pluginfile.php/3/user/icon/boost/f2?rev=119\" class=\"userpicture\" width=\"35\" height=\"35\" alt=\"\">",
            "profileurl": "https://www.mymoodlesite.net/user/profile.php?id=31",
            "fullname": "Juan dela Cruz"
        }],
        "mayviewmembers": "true",
        "groupmembers": [{
            "firstname": "Maija",
            "lastname": "Meikäläinen"
        }],
        "currentuserismember": "true",
        "closedgroup": "false",
        "mayedit": "true"
    }
}}
<div id="group-details-modal" class="row">
    <div id="group-details-modal-left" class="col-4">
        <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-topic, local_thi_learning_companions{{/str}}
            </span>
            <span class="group-details-modal-info-content">
                {{group.keywordslist}}
            </span>
        </div>
        <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-members, local_thi_learning_companions{{/str}}
            </span>
            <span class="group-details-modal-info-content">
                {{group.membercount}}
            </span>
        </div>
        <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-activity, local_thi_learning_companions{{/str}}
            </span>
            <span class="group-details-modal-info-content">
                {{group.lastactivetimedmy}}
            </span>
        </div>
        <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-createdate, local_thi_learning_companions{{/str}}
            </span>
            <span class="group-details-modal-info-content">
                {{group.timecreateddmy}}
            </span>
        </div>
        <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-join, local_thi_learning_companions{{/str}}
            </span>
            <span class="group-details-modal-info-content">
                {{#group.closedgroup}}
                    {{#str}}closedgroup, local_thi_learning_companions{{/str}}
                {{/group.closedgroup}}
                {{^group.closedgroup}}
                    {{#str}}opengroup, local_thi_learning_companions{{/str}}
                {{/group.closedgroup}}
            </span>
        </div>
    </div>
    <div id="group-details-modal-right" class="col d-flex flex-column justify-content-between">
        <div>
            <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-description, local_thi_learning_companions{{/str}}
            </span>
                <span class="group-details-modal-info-content">
                    {{{group.description}}}
                </span>
            </div>
            <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-reference, local_thi_learning_companions{{/str}}
            </span>
            <span class="group-details-modal-info-content">
                {{#group.course}}<a href="{{globals.config.wwwroot}}/course/view.php?id={{group.courseid}}"><i class="fa fa-chevron-right local_thi_learning_companions_chevron"></i> {{group.course.fullname}}</a>{{/group.course}}
                {{#cm}}<br><a href="{{globals.config.wwwroot}}/mod/{{cm.modname}}/view.php?id={{cm.id}}"><i class="fa fa-chevron-right local_thi_learning_companions_chevron"></i> {{cm.name}}</a>{{/cm}}
            </span>
            </div>
            <div class="group-details-modal-info">
                <span class="group-details-modal-info-heading">
                    {{#str}}modal-groupdetails-administrator, local_thi_learning_companions{{/str}}
                </span>
                <div class="group-details-modal-info-content">
                    {{#groupadmins}}
                        <span class="group-details-modal-info-admin d-flex align-items-center">
                            <div>
                                {{{userpic}}}
                                <i class="fa fa-circle icon-status status-{{status}}" alt="{{statustext}}" title="{{statustext}}"></i>
                            </div>
                            <a href="{{profileurl}}" target="_blank">{{fullname}}</a>
                        </span>
                    {{/groupadmins}}
                </div>
            </div>

            {{#mayviewmembers}}
            <div class="group-details-modal-info">
                <span class="group-details-modal-info-heading">
                    {{#str}}modal-groupdetails-members, local_thi_learning_companions{{/str}}
                </span>
                {{/mayviewmembers}}
                {{#groupmembers}}
                <span class="group-details-modal-info-member d-flex align-items-center">
                    <div>
                        {{{userpic}}}
                        <i class="fa fa-circle icon-status status-{{status}}" alt="{{statustext}}" title="{{statustext}}"></i>
                    </div>
                    <a href="{{profileurl}}" target="_blank">{{firstname}} {{lastname}}</a>
                </span>
                {{/groupmembers}}
            {{#mayviewmembers}}
            </div>
            {{/mayviewmembers}}
        </div>
        <div class="group-details-modal-button">
            {{#group.currentuserismember}}
            {{! If the User is in the Group, show the Leave Group and Invite Button }}
            <a href="#" class="btn btn-primary js-leave-group d-block d-sm-inline-block mt-1" data-groupid="{{group.id}}"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{#str}}leavegroup, local_thi_learning_companions{{/str}}</a>
            <a href="{{globals.config.wwwroot}}/local/thi_learning_companions/chat.php?groupid={{group.id}}" class="btn btn-primary d-block d-sm-inline-block mt-1"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{#str}}gotogroupbutton, local_thi_learning_companions{{/str}}</a>
            <a href="#" class="btn btn-secondary js-invite-member d-block d-sm-inline-block mt-1" data-groupid="{{group.id}}"><i class="fa fa-plus" aria-hidden="true"></i> {{#str}}invite_to_group, local_thi_learning_companions{{/str}}</a>
            {{/group.currentuserismember}}
            {{^group.currentuserismember}}
                {{#group.closedgroup}}
                {{! If the Group is closed, show the Request Join Group Button }}
                    <a href="#" class="btn btn-primary js-request-join-group d-block d-sm-inline-block mt-1" data-groupid="{{group.id}}"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{#str}}request_join_group, local_thi_learning_companions{{/str}}</a>
                {{/group.closedgroup}}
                {{^group.closedgroup}}
                    <a href="{{globals.config.wwwroot}}/local/thi_learning_companions/chat.php?groupid={{group.id}}" class="btn btn-primary d-block d-sm-inline-block mt-1"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{#str}}gotogroupbutton, local_thi_learning_companions{{/str}}</a>
                {{/group.closedgroup}}
            {{/group.currentuserismember}}
            {{#group.mayedit}}
                <a href="{{globals.config.wwwroot}}/local/thi_learning_companions/group/edit.php?groupid={{group.id}}&referrer={{referrer}}" class="btn btn-secondary d-block d-sm-inline-block mt-1"><i class="icon-thi_learning_companions-edit" aria-hidden="true"></i>{{#str}}edit_group, local_thi_learning_companions{{/str}}</a>
            {{/group.mayedit}}
        </div>

    </div>
</div>
