<div id="group-details-modal" class="row">
    <div id="group-details-modal-left" class="col-4">
        <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-topic, local_learningcompanions{{/str}}
            </span>
            <span class="group-details-modal-info-content">
                {{group.keywords_list}}
            </span>
        </div>
        <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-members, local_learningcompanions{{/str}}
            </span>
            <span class="group-details-modal-info-content">
                {{group.membercount}}
            </span>
        </div>
        <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-activity, local_learningcompanions{{/str}}
            </span>
            <span class="group-details-modal-info-content">
                {{group.last_active_time_dmy}}
            </span>
        </div>
        <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-createdate, local_learningcompanions{{/str}}
            </span>
            <span class="group-details-modal-info-content">
                {{group.timecreated_dmY}}
            </span>
        </div>
        <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-join, local_learningcompanions{{/str}}
            </span>
            <span class="group-details-modal-info-content">
                {{#group.closedgroup}}
                    {{#str}}closedgroup, local_learningcompanions{{/str}}
                {{/group.closedgroup}}
                {{^group.closedgroup}}
                    {{#str}}opengroup, local_learningcompanions{{/str}}
                {{/group.closedgroup}}
            </span>
        </div>
    </div>
    <div id="group-details-modal-right" class="col d-flex flex-column justify-content-between">
        <div>
            <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-description, local_learningcompanions{{/str}}
            </span>
                <span class="group-details-modal-info-content">
                    {{{group.description}}}
                </span>
            </div>
            <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-reference, local_learningcompanions{{/str}}
            </span>
            <span class="group-details-modal-info-content">
                {{#group.course}}<a href="{{cfg.wwwroot}}/course/view.php?id={{group.courseid}}"><i class="fa fa-chevron-right local_learningcompanions_chevron"></i> {{group.course.fullname}}</a>{{/group.course}}
                {{#cm}}<br><a href="{{cfg.wwwroot}}/mod/{{cm.modname}}/view.php?id={{cm.id}}"><i class="fa fa-chevron-right local_learningcompanions_chevron"></i> {{cm.name}}</a>{{/cm}}
            </span>
            </div>
            <div class="group-details-modal-info">
            <span class="group-details-modal-info-heading">
                {{#str}}modal-groupdetails-administrator, local_learningcompanions{{/str}}
            </span>
                <div class="group-details-modal-info-content">
                    {{#groupadmins}}
                        <span class="group-details-modal-info-admin d-flex align-items-center">
                        <div>
                            {{{userpic}}}
                            <i class="fa fa-circle icon-status status-{{status}}" alt="{{statustext}}" title="{{statustext}}"></i>
                        </div>
                        <a href="{{profileurl}}" target="_blank">{{fullname}}</a>
                    </span>
                    {{/groupadmins}}
                </div>
            </div>
        </div>
        <div class="group-details-modal-button">
            {{#group.currentUserIsMember}}
            {{! If the User is in the Group, show the Leave Group and Invite Button }}
            <a href="#" class="btn btn-primary js-leave-group" data-groupid="{{group.id}}"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{#str}}leavegroup, local_learningcompanions{{/str}}</a>
            <a href="/local/learningcompanions/chat.php?groupid={{group.id}}" class="btn btn-primary"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{#str}}gotogroupbutton, local_learningcompanions{{/str}}</a>
            <a href="#" class="btn btn-secondary js-invite-member" data-groupid="{{group.id}}"><i class="fa fa-plus" aria-hidden="true"></i> {{#str}}invite_to_group, local_learningcompanions{{/str}}</a>
            {{/group.currentUserIsMember}}
            {{^group.currentUserIsMember}}
                {{#group.closedgroup}}
                {{! If the Group is closed, show the Request Join Group Button }}
                    <a href="#" class="btn btn-primary js-request-join-group" data-groupid="{{group.id}}"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{#str}}request_join_group, local_learningcompanions{{/str}}</a>
                {{/group.closedgroup}}
                {{^group.closedgroup}}
                    <a href="/local/learningcompanions/chat.php?groupid={{group.id}}" class="btn btn-primary"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{#str}}gotogroupbutton, local_learningcompanions{{/str}}</a>
                {{/group.closedgroup}}
            {{/group.currentUserIsMember}}
            {{#group.may_edit}}
                <a href="{{cfg.wwwroot}}/local/learningcompanions/group/edit.php?groupid={{group.id}}&referrer={{referrer}}" class="btn btn-secondary"><i class="icon-learningcompanions-edit" aria-hidden="true"></i>{{#str}}edit_group, local_learningcompanions{{/str}}</a>
            {{/group.may_edit}}
        </div>

    </div>
</div>
