<div id="learningcompanions_chat">    <div id="learningcompanions_chat-loading">{{#str}}loading, local_learningcompanions{{/str}}</div><div id="learningcompanions_chat-content"></div>    <div>{{{form}}}</div></div><script type="text/javascript">var learningcompanions_chat_userid = {{userid}};</script><script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script><script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script><script src="{{reactscript}}" crossorigin></script>