<div id="local_learningcompanions_group_list">    <h1>{{#str}}listgroups, local_learningcompanions{{/str}}</h1>    <div>        {{#groups}}            {{>local_learningcompanions/group_listitem}}        {{/groups}}    </div></div>