<div id="local_thi_learning_companions_group_list">    <h1>{{#str}}listgroups, local_thi_learning_companions{{/str}}</h1>    <div>        {{#groups}}            {{>local_thi_learning_companions/group_listitem}}        {{/groups}}    </div></div>