<span>
    <img height="12" src="{{profilepicture}}" alt="" role="presentation">
    <span>{{fullname}}</span>
    {{#hasidentity}}
    <span><small>{{identity}}</small></span>
    {{/hasidentity}}
</span>
