<span>
    <img height="12" src="{{profileimageurlsmall}}" alt="" role="presentation">
    <span>{{firstname}} {{lastname}}</span>
    {{#hasidentity}}
    <span><small>{{identity}}</small></span>
    {{/hasidentity}}
</span>
