<h2>{{#str}}mymentorquestions, local_learningcompanions{{/str}}</h2>
{{#hasmentorquestions}}
    <table class="stripe hover compact" id="mymentorquestionstable" data-paging="true" data-page-length="50">
        <thead>
        <tr>
            <th>{{#str}}title, local_learningcompanions{{/str}}</th>
            <th>{{#str}}topic, local_learningcompanions{{/str}}</th>
            <th>{{#str}}answers, local_learningcompanions{{/str}}</th>
            <th>{{#str}}lastactivity, local_learningcompanions{{/str}}</th>
            <th>{{#str}}questiondate, local_learningcompanions{{/str}}</th>
        </tr>
        </thead>
        <tbody>
        {{#mymentorquestions}}
            <tr>
                <td>
                    {{question}}
                </td>
                <td>
                    XXX
                </td>
                <td>
                    {{#answercount}}
                        <a href="#">{{answercount}}</a>
                    {{/answercount}}
                    {{^answercount}}
                        0
                    {{/answercount}}
                </td>
                <td>
                    {{#lastactivity}}
                        {{lastactivity}}
                    {{/lastactivity}}
                    {{^lastactivity}}
                        {{dateasked}}
                    {{/lastactivity}}
                </td>
                <td>
                    {{dateasked}}
                </td>
            </tr>
        {{/mymentorquestions}}
        </tbody>
    </table>
{{/hasmentorquestions}}
{{^mymentorquestions}}
    <p>{{#str}}noquestionsfound, local_learningcompanions{{/str}}</p>
{{/mymentorquestions}}